<div ui-view>
	<div class='row'>
		<div class='col-sm-9'>
			<h2 ng-show='viewConference'><a ng-click="goToConference()">{{conferenceName}}</a> <i class='glyphicon glyphicon-chevron-right header-arrow' /> Conference Reports</h2>
			<h2 ng-show='!viewConference'><a ng-click="goToConference()">{{conferenceName}}</a> <i class='glyphicon glyphicon-chevron-right header-arrow' /> Event Reports</h2>
		</div>
	</div>
	<br>

	<div ng-show='viewConference'>
		<ul class="list-group">
			<li class="list-group-item">
				<br>
				<div class='row' ng-repeat='report in reports'>
					<div class='col-sm-12'>
						<span class='glyphicon glyphicon-download-alt pad-right'></span>  <a ng-href="{{report.route}}" download="{{report.filename}}" target="_self">{{report.label}}</a>
						<br>
						<br>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div ng-show='!viewConference'>
		<div ng-show='noEvents'>There are no events listed for this conference at this time.</div>
		<div ng-show='!noEvents'>
			<div class='form-group has-feedback'>
				<input class='form-control' type='text' placeholder='Filter list by event name' ng-model='search.eventName'>
				<span class="glyphicon glyphicon-search form-control-feedback"></span>
			</div>
			Showing {{filtered.length}} of {{events.length}} events
		</div>
		<ul class="list-group">
			<div ng-repeat='event in events | filter:search as filtered'>
				<h2>{{event.eventName}}</h2>
				<li class="list-group-item">
					<div class='row' ng-repeat='report in event.reports' ng-show='(event.permissions.indexOf("event-detail-view") !== -1)'>
						<br>
						<div class='col-sm-12'>
							<span class='glyphicon glyphicon-download-alt pad-right'></span>  <a ng-href="{{report.route}}" download="{{report.filename}}" target="_self">{{report.label}}</a>
							<br>
							<br>
						</div>
					</div>
				</li>
			</div>
		</ul>
	</div>
</div>