<div class='container'>
    <br>
    <div class='row'>
        <div class='col-sm-offset-3 col-sm-6'>
            <h4>Event Information</h4>
            <form name='eventForm' novalidate>
                <div class="panel panel-default" id='event'>
                    <div class="panel-body" ng-model='event'>
                        <div class='row'>
                            <div class='col-sm-12'>
                                <input-with-validation model='event.name' validation='eventForm' identifier='name' inp-type='text'>Event Name</input-with-validation>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-sm-12'>
                                <label for='description'>Description (optional) </label>
                                <textarea class='form-control' ng-model='event.description' rows='3' id='description' name='description'></textarea>
                            </div>
                        </div>
                        <br>

                        <div class='row'>
                            <div class='col-sm-6'>
                                <date-picker-input model='event.date' validation='eventForm' identifier='date' label='Date'><date-picker-input>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-6'>
                                <timepicker-with-validation model='event.start' label='Start Time' identifier='start' validation='createEventForm'></time-picker-with-validation>
                            </div>
                            <div class='col-sm-6'>
                                <timepicker-with-validation model='event.end' label='End Time' identifier='end' validation='createEventForm'></time-picker-with-validation>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-12'>
                                <input-with-validation model='event.location' validation='eventForm' identifier='location' inp-type='text'>Location</input-with-validation>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-sm-6'>
                                <div class='form-group' ng-class='{"has-error": !eventForm.capacity.$valid && eventForm.capacity.$dirty}'>
                                    <label>Capacity</label>

                                    <input type='text' ng-model-options='{updateOn: "blur"}' ng-model='event.capacity' class='form-control' 
                                           ng-pattern='/^\d+$/'
                                           name='capacity' required>

                                    <error-message ng-show='eventForm.capacity.$error.pattern && !eventForm.capacity.$error.required'>
                                        Input must be a non-negative integer
                                    </error-message>

                                    <error-message ng-show='eventForm.capacity.$error.required && eventForm.capacity.$dirty'>
                                        Capacity is required
                                    </error-message>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class='row'>
                <div class='col-xs-6'>
                    <button class='btn btn-default btn-block' ng-click='cancel()'>Cancel</button>
                </div>
                <div class='col-xs-6'>
                    <button class='btn btn-primary btn-block' ng-click='createEvent(eventForm)'>Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>