<h2><a ng-click='goToConference()'>{{conferenceName}}</a> <i class='glyphicon glyphicon-chevron-right header-arrow' /> Room Assignments</h2>
<div class='row'>
	<div class='col-sm-6'>
		<h4>Residences:</h4>
		<div ng-show='residences.length === 0'>
			No available residences
		</div>
		<div class="list-group">
			<button type="button" 
				class="list-group-item"
				ng-class='{"active": selected === res.id}' 
				ng-repeat='res in residences'
				ng-click='getRoomSets(res.id, res.name); $parent.selected = res.id'>
				<div class='row'>
					<div class='col-sm-12'>
						<div class='row'>
							<div class='col-sm-6'>
								<b>Name:</b>
							</div>
							<div class='col-sm-6'>
								{{res.name}}
							</div>
						</div>
						<div class='row'>
							<div class='col-sm-6'>
								<b>Location:</b>
							</div>
							<div class='col-sm-6'>
								{{res.location}}
							</div>
						</div>
					</div>
				</div>
			</button>
		</div>

		<h4>Room Sets: {{residence.name}}</h4>
		<div ng-show='false'>
			No available residences
		</div>
		<div class="list-group">
			<button type="button" 
				class="list-group-item"
				ng-class='{"active": selected === rs.name}' 
				ng-repeat='rs in roomSets'
				ng-click='getRooms(rs.id, rs.name); $parent.selected = rs.name'>
				<div class='row'>
					<div class='col-sm-12'>
						<div class='row'>
							<div class='col-sm-6'>
								<b>Name:</b>
							</div>
							<div class='col-sm-6'>
								{{rs.name}}
							</div>
						</div>
						<div class='row'>
							<div class='col-sm-6'>
								<b>Type:</b>
							</div>
							<div class='col-sm-6'>
								{{rs.type.name}}
							</div>
						</div>
						<div class='row'>
							<div class='col-sm-6'>
								<b>Capacity:</b>
							</div>
							<div class='col-sm-6'>
								{{rs.type.capacity}}
							</div>
						</div>
						<div class='row'>
							<div class='col-sm-6'>
								<b>Accessible:</b>
							</div>
							<div class='col-sm-6'>
								{{rs.type.accessible | yesNo}}
							</div>
						</div>
					</div>
				</div>
			</button>
		</div>
	</div>


	<div class='col-sm-6'>
		<h4>Rooms: {{roomSet.name}}</h4>

		<div ng-show='roomSet.id'>
			<h5>Create a new room and assign</h5>
			<div class='panel panel-default'>
				<div class='panel panel-body'>
					<div class="form-group"
						ng-class='{"has-error": newRoomNameError}'>
						<input class='form-control' 
							ng-model='roomNameAssign'
							ng-change='newRoomNameError = false'
							placeholder='Enter a room name'
							required>

						<error-message ng-show='newRoomNameError'>Room name is required</error-message>
					</div>
					
					<button class='btn btn-primary btn-block' ng-click='assignNewRoom()'>
						<span class='glyphicon glyphicon-check'></span> Assign
					</button>
				</div>
			</div>
		</div>

		<div ng-show='rooms.length === 0'>
			No existing rooms for this room set
		</div>
	
		<h5 ng-hide='rooms.length === 0'>Existing Rooms</h5>

		<ul class="list-group">
			<div ng-repeat='room in rooms'>
				<li class='list-group-item unselectable-text'>
					<div class='row'>
						<div class='col-sm-9'>
							<div class='row'>
								<div class='col-sm-6'>
									<b>Name:</b>
								</div>
								<div class='col-sm-6'>
									{{room.roomName}}
								</div>
							</div>
							<div class='row'>
								<div class='col-sm-6'>
									<b>Occupancy:</b>
								</div>
								<div class='col-sm-6'>
									{{room.currentUsers}}
								</div>
							</div>
						</div>
					</div>
					<div class='row'>
						<div class='col-sm-12'>
							<button class='btn btn-primary btn-block'
								ng-click='assign(room)'>
								<span class='glyphicon glyphicon-check'></span> Assign
							</button>
						</div>
					</div>
				</li>
			</div>
		</ul>
	</div>
</div>
<button class='btn btn-default' ng-click='back()'>Back</button>
<error-message ng-show='showError'>{{errorMessage}}<span class="glyphicon glyphicon-remove pull-right hand-cursor" ng-click='removeMessage()'></span></error-message>