<div class='form-group'>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>
					<div>Needs Accomodations?</div>
					<label class='checkbox-inline'>
						<input type="checkbox" 
						ng-model='accomodationsSelectAll'
						ng-click='selectAll("needsAccommodation", accomodationsSelectAll, selectedDependents)'>
						Select All
					</label>
				</th>
				<th>
					<div>Needs Transportation?</div>
					<label class='checkbox-inline'>
						<input type="checkbox" 
						ng-model='transportationSelectAll'
						ng-click='selectAll("needsTransportation", transportationSelectAll, selectedDependents); 
							selectAll("hasFlight", false, selectedDependents);'>
						Select All
					</label>
				</th>
				<th>
					<div>Has Flight?</div>
					<label class='checkbox-inline'>
						<input type="checkbox" 
						ng-model='flightsSelectAll'
						ng-click='selectAllFlights(flightsSelectAll, selectedDependents)'>
						Select All
					</label>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat='(idx, key) in selectedDependents'>
				<td>{{selectedDependents[idx].firstname}} {{selectedDependents[idx].lastname}}</td>
				<td>
					<input type="checkbox" 
					ng-model='selectedDependents[idx].needsAccommodation'>
				</td>
				<td>
					<input type="checkbox" 
					ng-model='selectedDependents[idx].needsTransportation'
					ng-change='selectedDependents[idx].hasFlight = false'>
				</td>
				<td>
					<input type="checkbox" 
					ng-model='selectedDependents[idx].hasFlight'
					ng-disabled='!selectedDependents[idx].needsTransportation'>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class='row'>
	<div class='col-xs-6'>
		<button class='btn btn-default btn-block' ng-click='back(2)'>Back</button>
	</div>
	<div class='col-xs-6'>
		<button class='btn btn-primary btn-block' ng-click='nextStep(2)'>Next</button>
	</div>
</div>