<div class='form-group'>
	{{selectedDependents}}
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>
					<div>Needs Accomodations?</div>
					<label class='checkbox-inline'>
						<input type="checkbox" 
						ng-model='accomodationsSelectAll'
						ng-click='selectAll("accomodations", accomodationsSelectAll, selectedDependents); 
							selectAll("transportation", false, selectedDependents);'>
						Select All
					</label>
				</th>
				<th>
					<div>Needs Transportation?</div>
					<label class='checkbox-inline'>
						<input type="checkbox" 
						ng-model='transportSelectAll'
						ng-click='selectAllTransportation(transportSelectAll, selectedDependents)'>
						Select All
					</label>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat='(idx, key) in selectedDependents'>
				<td>{{selectedDependents[idx].firstname}} {{selectedDependents[idx].lastname}}</td>
				<td>
					<input type="checkbox" 
					ng-model='selectedDependents[idx].accomodations'
					ng-change='selectedDependents[idx].transportation = false'>
				</td>
				<td>
					<input type="checkbox" 
					ng-model='selectedDependents[idx].transportation'
					ng-disabled='!selectedDependents[idx].accomodations'>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class='row'>
	<div class='col-xs-6'>
		<button class='btn btn-default btn-block' ng-click='back(2)'>Back</button>
	</div>
	<div class='col-xs-6'>
		<button class='btn btn-primary btn-block' ng-click='nextStep(2)'>Next</button>
	</div>
</div>