<div class='form-group'>
	{{selectedDependents}}
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Needs Accomodations?</th>
				<th>Needs Transportation?</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat='(idx, key) in selectedDependents'>
				<td>{{selectedDependents[idx].firstname}} {{selectedDependents[idx].lastname}}</td>
				<td>
					<input type="checkbox" 
					ng-model='selectedDependents[idx].accomodations'>
				</td>
				<td>
					<input type="checkbox" 
					ng-model='selectedDependents[idx].transportation'
					ng-disabled='!selectedDependents[idx].accomodations'>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class='row'>
	<div class='col-xs-6'>
		<button class='btn btn-default btn-block' ng-click='back(2)'>Back</button>
	</div>
	<div class='col-xs-6'>
		<button class='btn btn-primary btn-block' ng-click='nextStep(2)'>Next</button>
	</div>
</div>