<div class="progress">
    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="33"
    aria-valuemin="0" aria-valuemax="100" style="width:33%">
        Step 1
    </div>
</div>

<h4>Conference Information</h4>
<div class="panel panel-default">
    <div class="panel-body">
        <form name='createConferenceForm' novalidate>
            <div ng-model='conferenceInfo'>
                <div class='row'>
                    <div class='col-md-12'>
                        <input-with-validation model='conferenceInfo.name' validation='createConferenceForm' identifier='name' inp-type='text'>Conference Name</input-with-validation>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-12'>
                        <label for='description'>Description (optional) </label>
                        <textarea class='form-control' ng-model='conferenceInfo.description' rows='3' id='description' name='description'></textarea>
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class='col-md-6'>
                        <date-picker-input model='conferenceInfo.start' validation='createConferenceForm' identifier='start' label='Start Date'><date-picker-input>
                    </div>
                    <div class='col-md-6'>
                        <date-picker-input model='conferenceInfo.end' validation='createConferenceForm' identifier='end' label='End Date'><date-picker-input>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-12' id='location-typeahead'>
                        <input-with-validation model='conferenceInfo.location' validation='createConferenceForm' identifier='location' inp-type='text' class='typeahead'>Location</input-with-validation>
                    </div>
                </div>
                <div class='row'>
                    <div class='form-group col-md-12'>
                        <label class='checkbox-inline'><input type='checkbox' ng-model='conferenceInfo.hasTransportation'>Provide transportation for attendees</label>
                    </div>
                </div>
                <div class='row'>
                    <div class='form-group col-md-12'>
                        <label class='checkbox-inline'><input type='checkbox' ng-model='conferenceInfo.hasAccommodations'>Provide boarding accommodations for attendees</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class='row'>
    <div class='col-md-6'>
        <button class='btn btn-default btn-block' ng-click='cancel()'>Cancel</button>
    </div>
    <div class='col-md-6'>
        <button class='btn btn-primary btn-block' ng-click='nextStep(createConferenceForm, "2", "setConferenceInfo", "conferenceInfo")'>Next</button>
    </div>
</div>
