[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.glyphicon-large {
	font-size: 5em;
}

.hand-cursor {
	cursor: pointer;
	cursor: hand;
}

.remove-button {
	color: red;
}

 .panel-body  {
    word-break: break-all;
}