<div class='row'>
	<div class='col-sm-9'>
		<h4 ng-show='state1'>Approve Conference Registration</h4>
		<h4 ng-show='state2'>Approve Conference Registration</h4>
	</div>
	<div class='col-sm-3' ng-show='state2'>
		<button class='btn btn-info btn-block' 
			ng-click='back()'>
			Go to Approve Users
		</button>
	</div>
	<div class='col-sm-3' ng-show='state1'>
		<button class='btn btn-info btn-block' 
			ng-click='viewApproved()'>
			View Approved Users
		</button>
	</div>
</div>
<div ng-show='unapprovedList.length === 0 && state1'>
	No users requiring approval
</div>
<div ng-show='unapprovedList.length === 0 && state2'>
	No users currently approved
</div>
<ul class="list-group">
	<div ng-repeat='unapproved in unapprovedList'>
		<li class='list-group-item unselectable-text'>
			<div class='row'>
				<div class='col-sm-3'>
					<span class='glyphicon glyphicon-user glyphicon-large'></span>
				</div>
				<div class='col-sm-6'>
					<div class='row'>
						<div class='col-sm-6'>
							<b>Name:</b>
						</div>
						<div class='col-sm-6'>
							{{unapproved.user.firstName}} {{unapproved.user.lastName}}
						</div>
					</div>
					<div class='row'>
						<div class='col-sm-6'>
							<b>Needs Accomodations:</b>
						</div>
						<div class='col-sm-6'>
							{{unapproved.needsAccommodation | yesNo}}
						</div>
					</div>
					<div class='row'>
						<div class='col-sm-6'>
							<b>Needs Transportation:</b>
						</div>
						<div class='col-sm-6'>
							{{unapproved.needsTransportation | yesNo}}
						</div>
					</div>
					<div class='row'>
						<div class='col-sm-6'>
							<b>Has Flight:</b>
						</div>
						<div class='col-sm-6'>
							{{unapproved.hasFlight | yesNo}}
						</div>
					</div>
				</div>

				<div class='col-md-3' ng-show='state1'>

					<button class='btn btn-success pull-right btn-block'
						ng-click='approve(unapproved.id)'>
						<span class='glyphicon glyphicon-ok'></span><br> Approve
					</button>

					<button ng-click=''
						class='btn btn-danger btn-block pull-left'>
						<span class='glyphicon glyphicon-remove'></span><br> Reject
					</button>

				</div>

			</div>
		</li>
	</div>
</ul>