<div class='row'>
	<div class='col-md-10'>
		<ui-select ng-model="selected.value">
			<ui-select-match allow-clear="true" placeholder="Select an item to add">
				<span ng-bind="$select.selected.itemName"></span>
			</ui-select-match>
			<ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
				<span ng-bind="item.itemName"></span>
			</ui-select-choices>
		</ui-select>
	</div>
	<div class='col-md-2'>
		<button class='btn btn-success' ng-click='addItem(selected.value)'><span class='glyphicon glyphicon-plus'></span> Add Item</button>
	</div>
</div>
<br>

<div ng-show='currentItems.length === 0'>
	No items requested
</div>
<ul class='list-group'>
	<li class='list-group-item' ng-repeat='i in currentItems'>
		<div class='row'>
			<div class='col-md-5'>
				<h1>{{i.itemName}}</h1>
				<h6><b>Current Quantity: </b>{{i.currentQuantity}}</h6>
			</div>
			<div class='col-md-6'>
				<table class="table">
					<thead>
						<tr>
							<th>Request For:</th>
							<th>Quantity:</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='(key, value) in dependents'>
							<td>{{dependents[key].firstName}} {{dependents[key].lastName}}</td>
							<td class="col-md-6"><input-add-subtract model='dependents[key][i.itemName]' items='i.currentQuantity'></input-add-subtract></td>
						<tr>
					</tbody>
				</table>
			</div>
			<div class='col-md-1'>
				<span class='glyphicon glyphicon-remove hand-cursor remove-button pull-right' ng-click='removeItem(i)'></span>
			</div>
		</div>
	</li>
</ul>

<error-message ng-show='showError.value'>{{showError.message}}<span class="glyphicon glyphicon-remove pull-right hand-cursor" ng-click='removeError()'></span></error-message>

<div class='row'>
	<div class='col-sm-6'>
		<button class='btn btn-default btn-block' ng-click='cancel()'>Cancel</button>
	</div>
	<div class='col-sm-6'>
		<button class='btn btn-primary btn-block' ng-click='submit()'>Submit</button>
	</div>
</div>
