<div ng-clear>
	<div class='container'>
		<div class='row'>
			<div class='col-md-offset-4 col-md-4'>
				<br>
				<div class="panel panel-default">
					<div class="panel-body">

						<!--Need to block HTML5 validation so it does not conflict with angular-->
						<form name='loginForm' novalidate>
							<div ng-model='credentials'>

								<input-with-validation validation='loginForm' model='credentials.email' identifier='email' inp-type='email'>Email</input-with-validation>

								<input-with-validation validation='loginForm' model='credentials.password' identifier='password' inp-type='password'>Password</input-with-validation>

							</div>

							<div class='form-group pull-right'>
								<a href="#/create">Create Account</a>
							</div>

							<div class='form-group'>
								<!--Pass in loginForm.$valid to see if input fields are empty-->
								<button class='btn btn-default' ng-click='login(loginForm.$valid)'>Log In</button>
							</div>

							<error-message ng-show='showError'>{{errorMessage}}<span class="glyphicon glyphicon-remove pull-right" ng-click='removeMessage()'></span></error-message>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>