<div ui-view>
	<div class='row'>
		<div class='col-sm-9'>
			<h2>{{conferenceName}} <i class='glyphicon glyphicon-chevron-right header-arrow' /> Manage</h2>
		</div>
	</div>
	<div ng-show='permissions["conference-event-create"] || 
		permissions["conference-inventory-edit"] ||
		permissions["conference-room-edit"] ||
		permissions["conference-transportation-edit"]'>
		<br>
		<h4><i class='glyphicon glyphicon-plus' /> Add<h4>
		<div class='row'>
			<div class='col-sm-2' ng-show='permissions["conference-event-create"]'>
				<button class='btn btn-primary btn-block' ng-click='showWidget("createEvent")'>
					<span class='glyphicon glyphicon-calendar glyphicon-large'></span>
					<br>
					Add Event
				</button>
			</div>
			<div class='col-sm-2' ng-show='permissions["conference-inventory-edit"]'>
				<button class='btn btn-primary btn-block' ng-click='showWidget("createInventory")'>
					<span class='glyphicon glyphicon-apple glyphicon-large'></span>
					<br>
					Add Inventory
				</button>
			</div>
			<div class='col-sm-2' ng-show='permissions["conference-room-edit"]'>
				<button class='btn btn-primary btn-block' ng-click='showWidget("createResidence")'>
					<span class='glyphicon glyphicon-bed glyphicon-large'></span>
					<br>
					Add Residences
				</button>
			</div>
			<div class='col-sm-2' ng-show='permissions["conference-transportation-edit"]'>
				<button class='btn btn-primary btn-block' ng-click='showWidget("createTransportation")'>
					<span class='glyphicon glyphicon-send glyphicon-large'></span>
					<br>
					Add Transportation
				</button>
			</div>
		</div>
	</div>

	<div ng-show='permissions["conference-info-edit"] ||
		permissions["conference-inventory-edit"] ||
		permissions["conference-room-edit"] ||
		permissions["conference-transportation-edit"]'>
		<br>
		<h4><i class='glyphicon glyphicon-edit' /> Edit</h4>
		<div class='row'>
			<div class='col-sm-2' ng-show='permissions["conference-info-edit"]'>
				<button class='btn btn-info btn-block'>
					<span class='glyphicon glyphicon-globe glyphicon-large'></span>
					<br>
					Edit Conference
				</button>
			</div>
			<div class='col-sm-2' ng-show='permissions["conference-info-edit"]'>
				<button class='btn btn-info btn-block' ng-click='showEventList()'>
					<span class='glyphicon glyphicon-calendar glyphicon-large'></span>
					<br>
					Edit Events
				</button>
			</div>
			<div class='col-sm-2' ng-show='permissions["conference-inventory-edit"]'>
				<button class='btn btn-info btn-block' ng-click='showWidget("viewInventory")'>
					<span class='glyphicon glyphicon-apple glyphicon-large'></span>
					<br>
					Edit Inventory
				</button>
			</div>
			<div class='col-sm-2' ng-show='permissions["conference-room-edit"]'>
				<button class='btn btn-info btn-block' ng-click='showWidget("viewResidence")'>
					<span class='glyphicon glyphicon-bed glyphicon-large'></span>
					<br>
					Edit Residences
				</button>
			</div>
			<div class='col-sm-2' ng-show='permissions["conference-transportation-edit"]'>
				<button class='btn btn-info btn-block' ng-click='showWidget("viewTransportation")'>
					<span class='glyphicon glyphicon-send glyphicon-large'></span>
					<br>
					Edit Transportation
				</button>
			</div>
		</div>
	</div>

	<div ng-show='permissions["conference-registration-approval"] || 
		permissions["conference-inventory-edit"] ||
		permissions["conference-room-edit"] ||
		permissions["conference-transportation-edit"]'>
		<br>
		<h4><i class='glyphicon glyphicon-cog' /> Audit</h4>
		<div class='row'>
			<div class='col-sm-2' ng-show='permissions["conference-registration-approval"]'>
				<button class='btn btn-danger btn-block' ng-click='showWidget("approve-registration")'>
					<span class='glyphicon glyphicon-user glyphicon-large'></span>
					<br>
					Attendee Registration
				</button>
			</div>
			<div class='col-sm-2' ng-show='permissions["conference-inventory-edit"]'>
				<button class='btn btn-danger btn-block'>
					<span class='glyphicon glyphicon-apple glyphicon-large'></span>
					<br>
					Inventory Requests
				</button>
			</div>
			<div class='col-sm-2' ng-show='permissions["conference-room-edit"]'>
				<button class='btn btn-danger btn-block' ng-click='showWidget("room-allocate.1")'>
					<span class='glyphicon glyphicon-bed glyphicon-large'></span>
					<br>
					Assign Rooms
				</button>
			</div>
			<div class='col-sm-2'>
				<button class='btn btn-danger btn-block' ng-show='permissions["conference-transportation-edit"]'>
					<span class='glyphicon glyphicon-send glyphicon-large'></span>
					<br>
					Assign Transportation 
				</button>
			</div>
		</div>
	</div>

	<div ng-show='permissions["conference-view-statistics"]'>
		<br>
		<h4><i class='glyphicon glyphicon-stats' /> Statistics</h4>
		<div class='row'>
			<div class='col-sm-2' ng-show='permissions["conference-view-statistics"]'>
				<button class='btn btn-warning btn-block'>
					<span class='glyphicon glyphicon-signal glyphicon-large'></span>
					<br>
					Statistics
				</button>
			</div>
		</div>
	</div>
	<br>

</div>
