<div ui-view>
	<div class='row'>
		<div class='col-sm-9'>
			<h2><u>Manage Conference: {{conferenceName}}</u></h2>
		</div>
	</div>
	<h4><i class='glyphicon glyphicon-plus' /> Add<h4>
	<div class='row'>
		<div class='col-sm-2' id='conference-event-create'>
			<button class='btn btn-primary btn-block' ng-click='createEvent()'>
				<span class='glyphicon glyphicon-calendar glyphicon-large'></span>
				<br>
				Add Event
			</button>
		</div>
		<div class='col-sm-2' id='conference-inventory-create'>
			<button class='btn btn-primary btn-block' ng-click='showWidget("createInventory")'>
				<span class='glyphicon glyphicon-apple glyphicon-large'></span>
				<br>
				Add Inventory
			</button>
		</div>
		<div class='col-sm-2' id='conference-room-create'>
			<button class='btn btn-primary btn-block' ng-click='showWidget("createResidence")'>
				<span class='glyphicon glyphicon-bed glyphicon-large'></span>
				<br>
				Add Rooms
			</button>
		</div>
		<div class='col-sm-2' id='conference-transportation-create'>
			<button class='btn btn-primary btn-block' ng-click='showWidget("createTransportation")'>
				<span class='glyphicon glyphicon-send glyphicon-large'></span>
				<br>
				Add Transportation
			</button>
		</div>
	</div>

	<br>

	<h4><i class='glyphicon glyphicon-edit' /> Edit</h4>
	<div class='row'>
		<div class='col-sm-2' id='conference-info-edit'>
			<button class='btn btn-info btn-block'>
				<span class='glyphicon glyphicon-globe glyphicon-large'></span>
				<br>
				Edit Conference
			</button>
		</div>
		<div class='col-sm-2' id='conference-info-edit'>
			<button class='btn btn-info btn-block'>
				<span class='glyphicon glyphicon-calendar glyphicon-large'></span>
				<br>
				Edit Events
			</button>
		</div>
		<div class='col-sm-2' id='conference-inventory-edit'>
			<button class='btn btn-info btn-block'>
				<span class='glyphicon glyphicon-apple glyphicon-large'></span>
				<br>
				Edit Inventory
			</button>
		</div>
		<div class='col-sm-2' id='conference-room-edit'>
			<button class='btn btn-info btn-block'>
				<span class='glyphicon glyphicon-bed glyphicon-large'></span>
				<br>
				Edit Rooms
			</button>
		</div>
		<div class='col-sm-2' id='conference-transportation-edit'>
			<button class='btn btn-info btn-block'>
				<span class='glyphicon glyphicon-send glyphicon-large'></span>
				<br>
				Edit Transportation
			</button>
		</div>
	</div>

	<br>
	<h4><i class='glyphicon glyphicon-cog' /> Audit</h4>
	<div class='row'>
		<div class='col-sm-2' id='conference-registration-approval'>
			<button class='btn btn-danger btn-block' ng-click='showWidget("approve-registration")'>
				<span class='glyphicon glyphicon-user glyphicon-large'></span>
				<br>
				Attendee Registration
			</button>
		</div>
		<div class='col-sm-2'>
			<button class='btn btn-danger btn-block'>
				<span class='glyphicon glyphicon-apple glyphicon-large'></span>
				<br>
				Inventory Requests
			</button>
		</div>
		<div class='col-sm-2'>
			<button class='btn btn-danger btn-block' ng-click='showWidget("room-allocate.1")'>
				<span class='glyphicon glyphicon-bed glyphicon-large'></span>
				<br>
				Assign Rooms
			</button>
		</div>
		<div class='col-sm-2'>
			<button class='btn btn-danger btn-block'>
				<span class='glyphicon glyphicon-send glyphicon-large'></span>
				<br>
				Assign Transportation 
			</button>
		</div>
	</div>
	<br>
	<h4><i class='glyphicon glyphicon-stats' /> Statistics</h4>
	<div class='row'>
		<div class='col-sm-2' id='conference-view-statistics'>
			<button class='btn btn-warning btn-block'>
				<span class='glyphicon glyphicon-signal glyphicon-large'></span>
				<br>
				Statistics
			</button>
		</div>
	</div>
	<br>

</div>
