<div class='container'>
    <br>
    <div class='row'>
        <div class='col-sm-offset-3 col-sm-6'>
        	<h4>Transportation Information</h4>
			<form name='transportationForm' novalidate>
				<div ng-repeat='(idx, value) in transportation'>
					<div class="panel panel-default" id='transportation{{idx}}'>
						<div class="panel-body" ng-model='transportation[idx]'>
							<div class='row' ng-show='showRemoveButton(idx)'>
								<div class='col-sm-offset-11 col-sm-1'>
									<div class='glyphicon glyphicon-remove hand-cursor remove-button' name='removeButton{{idx}}' ng-click='deleteTransportation(idx)'></div>
								</div>
							</div>

							<div class='row'>
								<div class='col-sm-12'>
									<input-with-validation model='transportation[idx].name' validation='transportationForm' identifier='name{{idx}}' inp-type='text'>Name</input-with-validation>
								</div>
							</div>

							<div class='row'>
								<div class='col-sm-12'>
									<label for='company{{idx}}'>Company (optional)</label>
									<input type='text' class='form-control' ng-model='transportation[idx].company' id='company{{idx}}' name='units{{idx}}'></input>
								</div>
							</div>
							<br>

							<div class='row'>
								<div class='col-sm-6'>
                                    <div class='form-group' ng-class='{"has-error": !transportationForm.phone.$valid && transportationForm.phone.$dirty}'>
                                        <label>Phone Number</label>

                                        <input type='text' ng-model-options='{updateOn: "blur"}' ng-model='transportation[idx].phone' class='form-control' 
                                        	   ng-pattern='/^\d+$/'
                                               name='phone' required>

                                        <error-message ng-show='transportationForm.phone.$error.pattern && !transportationForm.phone.$error.required'>
                                            Input must be a non-negative integer
                                        </error-message>

                                        <error-message ng-show='transportationForm.phone.$error.required && transportationForm.phone.$dirty'>
                                            Phone Number is required
                                        </error-message>
                                    </div>
                                </div>
								<div class='col-sm-6'>
                                    <div class='form-group' ng-class='{"has-error": !transportationForm.capacity.$valid && transportationForm.capacity.$dirty}'>
                                        <label>Capacity</label>

                                        <input type='text' ng-model-options='{updateOn: "blur"}' ng-model='transportation[idx].capacity' class='form-control' 
                                        	   ng-pattern='/^\d+$/'
                                               name='capacity' required>

                                        <error-message ng-show='transportationForm.capacity.$error.pattern && !transportationForm.capacity.$error.required'>
                                            Input must be a non-negative integer
                                        </error-message>

                                        <error-message ng-show='transportationForm.capacity.$error.required && transportationForm.capacity.$dirty'>
                                            Capacity is required
                                        </error-message>
                                    </div>
                                </div>
							</div>

						</div>
					</div>
				</div>
		
				<button class='btn btn-success btn-block' ng-click='addTransportation()'><span class="glyphicon glyphicon-plus"></span> Add Another Item</button>
				<br>
				<div class='row'>
					<div class='col-xs-6'>
				        <button class='btn btn-default btn-block' ng-click='cancel()'>Cancel</button>
				    </div>
					<div class='col-xs-6'>
						<button class='btn btn-primary btn-block' ng-click='createTransportation(transportationForm)'>Submit</button>
					</div>
				</div>
			</form>
        </div>
    </div>
</div>