
<div class='row'>
	<div class='col-sm-9'>
		<h2>Conferences</h2>
	</div>
	<div class='col-sm-3'>
		<button id='createConferenceBtn' ng-show='canCreateConference' ng-click='goToCreateConference()' class='btn btn-primary btn-block'><span class='glyphicon glyphicon-pencil'></span><br> Create Conference</button>
	</div>
</div>

<div ng-show='noConferences'>No conferences at this time</div>
	<ul class="list-group">
		<div ng-repeat='conference in conferences'>
			<li class="list-group-item">

				<div class='row'>
					<div class='col-md-4'>
						<img src="https://pixabay.com/static/uploads/photo/2015/05/15/14/22/conference-room-768441_960_720.jpg" class="img-thumbnail img-responsive"/>
					</div>

					<div class='col-md-5'>
						<h1 style='margin-top:0px;'>{{conference.name}}</h1>
						<div>{{conference.description}}</div>
					</div>

					<div class='col-md-3'>
						<div class='row'>
							<div class='col-md-6'>
								<b>Location:</b>
							</div>
							<div class='col-md-6'>
								{{conference.location}}
							</div>
						</div>

						<div class='row'>
							<div class='col-md-6'>
								<b>Start:</b>
							</div>
							<div class='col-md-6'>
								{{conference.start}}
							</div>
						</div>

						<div class='row'>
							<div class='col-md-6'>
								<b>End:</b>
							</div>
							<div class='col-md-6'>
								{{conference.end}}
							</div>
						</div>

						<div class='row'>
							<div class='col-md-6'>
								<b>Transportation:</b>
							</div>
							<div class='col-md-6'>
								{{conference.hasTransportation | yesNo}}
							</div>
						</div>

						<div class='row'>
							<div class='col-md-6'>
								<b>Accommodations:</b>
							</div>
							<div class='col-md-6'>
								{{conference.hasAccommodations | yesNo}}
							</div>
						</div>

						<br>
						<div class='row'>
							<div class='col-md-12'>

								<button class='btn btn-primary pull-right btn-block'
									ng-show='!registered(conference.registered)'
									ui-sref='dashboard.conferences.registration.1({cid: conference.id})'>
									<span class='glyphicon glyphicon-pencil'></span><br> Register
								</button>

								<a class='btn btn-info btn-block pull-left'><span class='glyphicon glyphicon-info-sign'></span><br> View Events</a>

								<a ui-sref='dashboard.conferences.manage({cid: conference.id})' 
									ng-show='conference.permissions.length > 0' 
									id='manageConferenceBtn'
									class='btn btn-primary btn-block pull-left'>
									<span class='glyphicon glyphicon-info-sign'></span><br> Manage Conference
								</a>

							</div>
						</div>
					</div>

				</div>
			</li>
		</div>
	<ul>
</div>


