<div class='form-group' ng-class='{"has-error": !validation.{{identifier}}.$valid && validation.{{identifier}}.$dirty}'>
	<label>{{label}}</label>
	<div class="input-group">
		<input type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="model" is-open="calendar.opened" close-text="Close" name='{{identifier}}' id='{{identifier}}' required>
		<span class="input-group-btn">
			<button type="button" class="btn btn-default" ng-class='{"btn-danger": !validation.{{identifier}}.$valid && validation.{{identifier}}.$dirty}' ng-click="openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
		</span>
	</div>

	<error-message ng-show='validation.{{identifier}}.$error.required && validation.{{identifier}}.$dirty'>Birth Date is required</error-message>

	<error-message ng-show='!validation.{{identifier}}.$error.required && validation.{{identifier}}.$dirty && validation.{{identifier}}.$invalid'>Date must be in the format "mm/dd/yyyy" </error-message>
</div>