<div class="form-group">
	<label>Email</label>
	<input class='form-control' 
		ng-model='email'
		ng-change='checkEmailExists(email)'
		ng-model-options='{updateOn: "blur"}'
		required>
	{{emailExists}}
</div>
<div class='form-group'>
	<label>Roles</label>
	<div>
		<ui-select multiple 
			ng-model='assignedRoles.value'
			ng-disabled="disabled">

			<ui-select-match placeholder="Select roles">{{$item.displayName}} {{$item.forName}}</ui-select-match>
			<ui-select-choices repeat="role in availableRoles | filter:$select.search">
				{{role.displayName}} {{role.forName}}
			</ui-select-choices>

		</ui-select>
	</div>
	<br>
	<div class='form-group'>
		<button class='btn btn-success btn-block' ng-click='submit()'>Update Roles</button>
	</div>
</div>
