<form name='emailInp'>
	<div class="form-group" ng-class='{"has-error": !validEmail.value && emailInp.email.$dirty && email}' >
		<label>Input an account to assign permissions to</label>
		<input class='form-control'
			name='email'
			ng-model='email'
			ng-change='checkEmailExists(email)'
			placeholder='Email'
			ng-model-options='{updateOn: "blur"}'
			required>
		<error-message ng-show='!validEmail.value && emailInp.email.$dirty && email'>{{validEmail.message}}</error-message>
	</div>
</form>
<div class='form-group'
	ng-show='showPermissions'>
	<label>Roles</label>
	<div>
		<ui-select multiple 
			ng-model='assignedRoles.value'
			ng-disabled="disabled">

			<ui-select-match placeholder="Select roles"><span uib-tooltip='This is a placeholder for description'>{{$item.displayName}} {{$item.forName}}</span></ui-select-match>
			<ui-select-choices repeat="role in availableRoles | filter:$select.search">
				{{role.displayName}} {{role.forName}}
			</ui-select-choices>

		</ui-select>
	</div>
	<br>
	<div class='form-group'>
		<button class='btn btn-success btn-block' ng-click='submit()'>Update Roles</button>
	</div>
</div>
