<h4>Review Account Details</h4>
<div class='panel panel-default'>
	<div class='panel panel-body break-all'>
		<h3>Account Information</h3>
		Email: {{formattedData.email}}

		<br>

		<div ng-hide='transfer'>
			<h3>Dependent Users</h3>
			<div ng-repeat='dependent in formattedData.dependents'>
				<div><h4>{{dependent.firstName}} {{dependent.lastName}}</h4></div>
				<div>Birth Date: {{dependent.dateOfBirth}}</div>
				<div>Gender: {{dependent.gender}}</div>
				<div>Location: {{dependent.location}}</div>
				<div ng-show='dependent.accomodations'>Special Accomodations: {{dependent.accomodations}}</div>
			</div>
			<br>
		</div>

		<h3>Emergency Contact</h3>
		<div>Full Name: {{formattedData.emergencyContactName}}</div>
		<div>Phone Number: {{formattedData.phone}}</div>

	</div>
</div>
<div class='row'>
	<div class='col-md-6'>
		<a class='btn btn-default btn-block' ui-sref='createAccount.3'>Back</a>
	</div>
	<div class='col-md-6'>
		<button class='btn btn-primary btn-block' ng-click='createAccount()'>Submit</button>
	</div>
</div>