<div class='container'>
	<br>
	<div class='row'>

		<div class='col-md-offset-3 col-md-6'>
			<h4>Account Information</h4>
			<div class="panel panel-default">
				<div class="panel-body">
					<form name='createAcctForm' novalidate>
						<div ng-model='createAcct'>

							<div class='row'>
								<div class='col-md-6'>
									<email-input validation='createAcctForm' model='createAcct.email' identifier='email'></email-input>
								</div>

								<div class='col-md-6'>
									<div class='form-group' ng-class='{"has-error": !createAcctForm.confirmEmail.$valid && createAcctForm.confirmEmail.$dirty}'>
										<label for='confirmEmail'>Confirm Email</label>

										<!--Restrict inputs to alpha numeric characters and dashes/underscores-->
										<input type='text' ng-model-options='{updateOn: "blur"}' ng-model='confirmEmail' ng-change='checkMatch(createAcctForm.confirmEmail, createAcct.email, confirmEmail)' class='form-control' id='confirmEmail' name='confirmEmail' required>

										<!--Show error messages for confirmPassword-->
										<!--Invalid confirmPassword message, if required error exists, show that instead-->
										<error-message ng-show='createAcctForm.confirmEmail.$error.match && !createAcctForm.confirmEmail.$error.required'>
											Email does not match
										</error-message>

										<error-message ng-show='createAcctForm.confirmEmail.$error.required && createAcctForm.confirmEmail.$dirty'>
											Email confirmation is required
										</error-message>
									</div>
								</div>

							</div>

							<div class='row'>
								<div class='col-md-6'>
									<div class='form-group' ng-class='{"has-error": !createAcctForm.password.$valid && createAcctForm.password.$dirty}'>
										<label for='password'>Password</label>

										<!--Restrict inputs to alpha numeric characters and dashes/underscores-->
										<input type='password' ng-model-options='{updateOn: "blur"}' ng-model='createAcct.password' ng-change='checkPasswordMatch(createAcctForm.confirmPassword)' ng-minlength='8' class='form-control' id='password' name='password' required>

										<!--Show error messages for password-->
										<!--Invalid password message, if required error exists, show that instead-->
										<error-message ng-show='createAcctForm.password.$error.minlength && !createAcctForm.password.$error.required'>
											Password must be atleast 8 characters long
										</error-message>

										<!--Required error message, only show when dirty-->
										<error-message ng-show='createAcctForm.password.$error.required && createAcctForm.password.$dirty'>
											Password is required
										</error-message>
									</div>
								</div>

								<div class='col-md-6'>
									<div class='form-group' ng-class='{"has-error": !createAcctForm.confirmPassword.$valid && createAcctForm.confirmPassword.$dirty}'>
										<label for='confirmPassword'>Confirm Password</label>

										<!--Restrict inputs to alpha numeric characters and dashes/underscores-->
										<input type='password' ng-model-options='{updateOn: "blur"}' ng-model='confirmPassword' ng-change='checkMatch(createAcctForm.confirmPassword, createAcct.password, confirmPassword)' class='form-control' id='confirmPassword' name='confirmPassword' required>

										<!--Show error messages for confirmPassword-->
										<!--Invalid confirmPassword message, if required error exists, show that instead-->
										<error-message ng-show='createAcctForm.confirmPassword.$error.match && !createAcctForm.confirmPassword.$error.required'>
											Password does not match
										</error-message>

										<error-message ng-show='createAcctForm.confirmPassword.$error.required && createAcctForm.confirmPassword.$dirty'>
											Password confirmation is required
										</error-message>
									</div>
								</div>
							</div>

	<!-- 						<div class='row'>
								<div class='col-md-6'>
									<div class='form-group' ng-class='{"has-error": !createAcctForm.phone.$valid && createAcctForm.phone.$dirty}'>
										<label for='phone'>Phone</label>

										<input type='text' ng-model-options='{updateOn: "blur"}' ng-pattern='/^(\d+(-\d+)?)*$/' ng-model='phone' class='form-control' id='phone' name='phone'>

										<error-message ng-show='createAcctForm.phone.$error.pattern'>
											Phone number is not valid
										</error-message>
									</div>
								</div>
							</div> -->
						</div>
					</form>

					<div class='form-group'>
						<label class='checkbox-inline'><input type='checkbox' ng-model='transfer'>Transfer dependents from existing account</label>
					</div>

					<div ng-hide='transfer'>
						<div class='row'>
							<div class='col-md-8'>
								<h4>Dependents</h4>
							</div>
							<div class='col-md-4'>
								<button class='btn btn-success pull-right' ng-click='addPerson()'><span class="glyphicon glyphicon-plus"></span> Add Dependents</button>
							</div>
							<!-- <div class='col-md-1'>
								<button class='btn btn-default btn-block' ng-click='deleteLastPerson()'>Del</button> 
							</div> -->
						</div>
						
						<form name='dependentsForm' novalidate>
							<div ng-repeat='idx in dependentIndices'>

								<div class="panel panel-default">
									<div class="panel-body" ng-model='dependents[idx]'>

										<div class='row'>
											<div class='col-md-6'>
												<required-input model='dependents[idx].firstname' validation='dependentsForm' identifier='firstname{{idx}}' inp-type='text'>First Name</required-input>
											</div>

											<div class='col-md-6'>
												<required-input model='dependents[idx].lastname' validation='dependentsForm' identifier='lastname{{idx}}' inp-type='password'>Last Name</required-input>
											</div>
										</div>
										
										<div class='row'>
											<div class='col-md-6'>
												<div class='form-group'>
													<label for='birthdate{{idx}}'>Date of Birth</label>
													<input type='date' ng-model='dependents[idx].birthdate' class='form-control' id='birthdate{{idx}}' name='birthdate{{idx}}'>
												</div>
											</div>

											<div class='col-md-6'>
												<div class='form-group' ng-class='{"has-error": !dependentsForm["gender" + idx].$valid && dependentsForm["gender" + idx].$dirty}'>
													<label for='gender{{idx}}'>Gender</label>
													<select class='form-control' ng-model='dependents[idx].gender' id='gender{{idx}}' name='gender{{idx}}' required>
														<option>Male</option>
														<option>Female</option>
														<option>Other</option>
													</select>

													<error-message ng-show='dependentsForm["gender" + idx].$error.required && dependentsForm["gender" + idx].$dirty'>Gender is required</error-message>
												</div>
											</div>
										</div>

										<div class='form-group'>
											<label for='accomodations{{idx}}'>Accomodations</label>
											<textarea class='form-control' ng-model='dependents[idx].accomodations' rows='3' id='accomodations{{idx}}' name='accomodations{{idx}}'></textarea>
										</div>

									</div>
								</div>

							</div>
						</form>

					</div>
				</div>
			</div>
		
			<button class='btn btn-default pull-right' ng-click='createAccount(createAcctForm, dependentsForm)'>Create Account</button>
			
		</div>
		
	</div>
</div>