<div class="progress">
	<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="33"
	aria-valuemin="0" aria-valuemax="100" style="width:33%">
		Step 1
	</div>
</div>

<h4>Account Information</h4>
<div class="panel panel-default">
	<div class="panel-body">
		<form name='createAcctForm' novalidate>
			<div ng-model='createAcct'>
				<div class='row'>
					<div class='col-md-6'>
						<div class='form-group' ng-class='{"has-error": !createAcctForm.email.$valid && createAcctForm.email.$dirty || !emailAvailable && showAvailMsg, "has-success": emailAvailable && createAcctForm.email.$dirty && showAvailMsg}'>
							<label for='email'>Email</label>

							<input type='text' 
									ng-model-options='{updateOn: "blur"}' 
									ng-model='createAcct.email' 
									ng-change='checkEmailAvail(createAcctForm.email, createAcct.email); checkMatch(createAcctForm.confirmEmail, createAcct.email, createAcct.confirmEmail)' class='form-control' 
									id='email' 
									name='email' 
									ng-pattern='/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/' 
									placeholder='user@example.com'
									required>

							<div class='alert alert-success' ng-show='emailAvailable && createAcctForm.email.$dirty && showAvailMsg'><span class="glyphicon glyphicon-ok"></span> Email is available</div>

							<error-message ng-show='!emailAvailable && !createAcctForm.email.$error.email && !createAcctForm.email.$error.required && showAvailMsg'>
								Email is already in use
							</error-message>

							<error-message ng-show='createAcctForm.email.$error.pattern && !createAcctForm.email.$error.required'>
								Not a valid email
							</error-message>

							<error-message ng-show='createAcctForm.email.$error.required && createAcctForm.email.$dirty'>
								Email is required
							</error-message>
						</div>

					</div>

					<div class='col-md-6'>
						<div class='form-group' ng-class='{"has-error": !createAcctForm.confirmEmail.$valid && createAcctForm.confirmEmail.$dirty}'>
							<label for='confirmEmail'>Confirm Email</label>

							<input type='text' ng-model-options='{updateOn: "blur"}' ng-model='createAcct.confirmEmail' ng-change='checkMatch(createAcctForm.confirmEmail, createAcct.email, createAcct.confirmEmail)' class='form-control' id='confirmEmail' name='confirmEmail' required>

							<error-message ng-show='createAcctForm.confirmEmail.$error.match && !createAcctForm.confirmEmail.$error.required'>
								Email does not match
							</error-message>

							<error-message ng-show='createAcctForm.confirmEmail.$error.required && createAcctForm.confirmEmail.$dirty'>
								Email confirmation is required
							</error-message>
						</div>
					</div>

				</div>

				<div class='row'>
					<div class='col-md-6'>
						<div class='form-group' ng-class='{"has-error": !createAcctForm.password.$valid && createAcctForm.password.$dirty}'>
							<label for='password'>Password</label>

							<input type='password' ng-model-options='{updateOn: "blur"}' ng-model='createAcct.password' ng-change='checkPasswordMatch(createAcctForm.confirmPassword); checkMatch(createAcctForm.confirmPassword, createAcct.password, createAcct.password_confirmation)' ng-minlength='8' class='form-control' id='password' name='password' required>

							<error-message ng-show='createAcctForm.password.$error.minlength && !createAcctForm.password.$error.required'>
								Password must be atleast 8 characters long
							</error-message>

							<error-message ng-show='createAcctForm.password.$error.required && createAcctForm.password.$dirty'>
								Password is required
							</error-message>
						</div>
					</div>

					<div class='col-md-6'>
						<div class='form-group' ng-class='{"has-error": !createAcctForm.confirmPassword.$valid && createAcctForm.confirmPassword.$dirty}'>
							<label for='confirmPassword'>Confirm Password</label>

							<input type='password' ng-model-options='{updateOn: "blur"}' ng-model='createAcct.password_confirmation' ng-change='checkMatch(createAcctForm.confirmPassword, createAcct.password, createAcct.password_confirmation)' class='form-control' id='confirmPassword' name='confirmPassword' required>

							<error-message ng-show='createAcctForm.confirmPassword.$error.match && !createAcctForm.confirmPassword.$error.required'>
								Password does not match
							</error-message>

							<error-message ng-show='createAcctForm.confirmPassword.$error.required && createAcctForm.confirmPassword.$dirty'>
								Password confirmation is required
							</error-message>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div class='row'>
	<div class='col-md-6'>
		<button class='btn btn-default btn-block' ng-click='cancel()'>Cancel</button>
	</div>
	<div class='col-md-6'>
		<button class='btn btn-primary btn-block' ng-click='nextStep(createAcctForm, "2", "setAccountInfo", "createAcct")'>Next</button>
	</div>
</div>
